@font-face {
    font-family: "Open sans";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/opensans.woff") format("woff");
    src: url("fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: Open sans;
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/opensansbold.woff") format("woff");
    src: url("../fonts/opensansbold.woff2") format("woff2");
}
