body {
  font-family: Open sans, sans-serif;
  font-style: normal;
  background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {

  body {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {

  body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {

  body {
    width: 1250px;
    margin: 0 auto;
  }
}

@media (max-width: 1250px) {

  video[poster] {
    width: 100%;
  }
}
