.contacts {
  padding-top: 14px;
  padding-bottom: 37px;
}

.contacts__wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

.contacts__title {
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-heading;
}

.contacts__info {
  display: table;
  width: 260px;
  margin-bottom: 10px;

  font-size: 15px;
  line-height: 30px;
  color: $color-normal;
  border-collapse: collapse;
}

.contacts__data-title {
  width: 75px;
  vertical-align: top;
}

.contacts__mail .contacts__data-descr {
  border-bottom: 1px solid #62d1ba;
  cursor: pointer;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
    border-bottom: 1px solid #ecf9f7;
  }
}

.contacts__info td {
  padding-top: 26px;
}

.contacts__location td {
  padding-bottom: 30px;
}

.contacts__map {
   width: 320px;
   height: 457px;
   margin-bottom: 38px;
}

@media (max-width: 767px) {

  .contacts__location td {
    padding-top: 32px;
  }
}

@media (min-width: 768px) {

  .contacts {
    padding-top: 65px;
    padding-bottom: 55px;
  }

  .contacts__wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }

  .contacts__title {
    position: relative;
    margin: 0;
    margin-bottom: 23px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;

    top: -15px;
    right: 0px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-size: 50px 80px;
    background-position: center;
  }

  .contacts__info {
    display: flex;
    width: auto;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
    color: $color-normal;
  }

  .contacts__info tbody {
    display: flex;
    width: 100%;
  }

  .contacts__mail {
    width: 330px;
  }

  .contacts__location .contacts__data-descr br:nth-child(2) {
    content: "";
  }

  .contacts__location .contacts__data-descr br:nth-child(2)::after {
    content: "\00a0";
  }

  .contacts__location {
    margin-right: 0px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
  }

  .contacts__write {
    display: block;
    width: 226px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
  }
}


@media (min-width: 1150px) {

  .contacts {
    display: flex;
    height: 560px;
    flex-direction: column;
    flex-wrap: wrap;

    padding-top: 71px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 225px;
  }

  .contacts__wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__title {
      margin-top: 70px;
      font-size: 53px;
      line-height: 57px;
  }

  .contacts__info tbody {
      flex-direction: column;
  }

  .contacts__map {
    width: 526px;
    order: 3;
  }

  .contacts__write {
    order: 2;
  }

  .contacts__info {
    margin-right: 30px;
  }

  .contacts__write {
    margin-top: 43px;
    margin-left: 0;
  }

  .contacts__title::before {
    top: -8px;
    left: -114px;
  }

  .contacts__info td {
    padding-top: 27px;
    padding-bottom: 4px;
  }
}
