.contacts {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.contacts__title {
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-heading;
}

.contacts__info {
  display: table;
  width: 260px;

  font-size: 15px;
  line-height: 30px;
  color: $color-normal;
  border-collapse: collapse;
}

.contacts__data-title {
  width: 75px;
  vertical-align: top;
}

.contacts__mail .contacts__data-descr {
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
    border-bottom: 1px solid #ecf9f7;
  }
}

.contacts__info td {
  padding-top: 30px;
}

.contacts__location td {
  padding-bottom: 30px;
}

@media (min-width: 768px) {

  .contacts {
    padding-top: 60px;
    padding-right: 50px;
    padding-bottom: 55px;
    padding-left: 50px;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__info {
    display: flex;
    width: auto;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
    color: $color-normal;
  }

  .contacts__info tbody {
    display: flex;
    width: 100%;
  }

  .contacts__mail {
    margin-right: auto;
  }

  .contacts__location .contacts__data-descr br:nth-child(2) {
    content: "";
  }

  .contacts__location .contacts__data-descr br:nth-child(2)::after {
    content: "\00a0";
  }

  .contacts__location {
    margin-right: 20px;
  }

  .contacts__write {
    display: block;
    width: 226px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
  }
}


@media (min-width: 1150px) {

  .contacts {
    padding-top: 135px;
    padding-right: 50px;
    padding-bottom: 107;
    padding-left: 225px;
  }

  .contacts__title {
      margin-top: 40px;
      font-size: 53px;
      line-height: 57px;
  }

  .contacts__info tbody {
      flex-direction: column;
  }

  .contacts {
    display: flex;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__map {
    width: 535px;
    order: 3;
  }

  .contacts__write {
    order: 2;
  }

  .contacts__info {
    margin-right: 20px;
  }
}
