.feature {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
}

.feature__title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;

  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-heading;
}

.feature__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature__descr {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $color-heading;
}

.feature__icon {
  width: 50px;
  height: 40px;
  padding-top: 16px;
  padding-bottom: 22px;
}

.feature__icon {
  fill: #63d1bb;
}


@media (min-width: 768px) {

  .feature {
    padding-top: 45px;
    padding-right: 50px;
    padding-bottom: 52px;
    padding-left: 50px;
  }

  .feature__title {
    padding-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .feature__descr {
    font-size: 20px;
    line-height: 22px;
  }

  .feature__item {
    padding-top: 26px;
    width: 300px;
  }

  .feature__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 490px;
    margin: 0;
  }

  .feature__icon {
    width: 50px;
    height: 40px;
    padding-top: 18px;
    padding-bottom: 20px;
  }

  .feature__icon {
    padding-top: 16px;
    padding-bottom: 26px;
  }
}

@media (min-width: 1150px) {

  .feature {
    padding-top: 65px;
    padding-right: 215px;
    padding-bottom: 55px;
    padding-left: 225px;
  }

  .feature__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feature__icon {
    padding-top: 19px;
    padding-bottom: 22px;
  }
}
