.main-footer {
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 30px;
  background-color: #f1f1f1;
}

.main-footer__logo {
  display: none;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  font-size: 0px;
}

.social__icon  {
  fill: #231F20;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright a {
  padding-right: 55px;

  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  color: $color-heading;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright {
  position: relative;
  text-align: center;
  padding-top: 27px;
}

.main-footer__copyright svg {
  position: absolute;
  top: 21px;
  right: 38px;

  fill: #63d1bb;
}

@media (min-width: 768px) {

  .main-footer {
    padding: 50px;
  }

  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__logo  {
    display: block;
    width: 90px;
    height: 40px;
    margin-right: 90px;
  }

  .main-footer__logo svg {
    width: 100px;
    height: 41px;
    margin: 0;
    padding: 0;
  }

  .main-footer__logo a {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 20px;

    &:hover svg {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-footer__social {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    align-items: flex-end;

    border-bottom: none;
  }

  .social__item {
    margin-left: 21px;
    margin-right: 21px;
  }

  .main-footer__copyright {
    align-self: flex-end;
    padding: 0;
    padding-right: 30px;
    margin: 0;
  }

  .main-footer__copyright svg {
    top: -4px;
    right: 0px;
  }
}

@media (min-width: 1150px) {

  .main-footer {
    padding-right: 50px;
    padding-left: 50px;
  }
}
