.main-header {
  @include time-border(red);
}

.main-header__title {
  // надо по-другому Оо
  position: absolute;
  opacity: 0;
}

.main-header__logo {
  min-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  border-bottom: 1px solid #ececec;
}

.main-menu__item {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.main-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item a {
  // проверить
  display: block;
  height: 100%;
  margin: 28px auto;
  margin-left: 75px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $color-heading;
}
