.order__title {
  margin: 0;
  padding-top: 69px;
  padding-bottom: 76px;

  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: #ececec;
  color: $color-heading;
}

.order__wrapper {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 56px;
  padding-left: 30px;
}

.order__info {
  margin-top: 0px;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  color: $color-normal;
}

.order__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__heading {
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-sub;
}

.order__form:nth-of-type(2) .order__heading {
  margin-top: 30px;
  margin-bottom: 12px;
}

.order__input--tel, .order__input--email {
  margin-bottom: 27px;
}

.order__radio,
 .order__checkbox {
  width: 260px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $color-heading;
}

.order__radio {
  padding-top: 14px;
  padding-bottom: 14px;
}

.required {
  font-size: 14px;
  line-height: 16px;
  color: $color-normal;
}

.order__btn {
  margin-top: 30px;
}

// Стилизация радиобаттона

.order__radio input[type="radio"] {
  display: none;
}

.order__form:nth-of-type(1) .order__list:nth-of-type(1) {
  position: relative;
}



.order__radio:nth-of-type(2) input[type="radio"] + label::before {
    bottom: 3px;
}

.order__radio:nth-of-type(1) input[type="radio"] + label::before {
    bottom: 63px;
}

.order__radio input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0px;

  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 5px 0 0;

  border: 2px solid #444444;
  border-radius: 45px;
}

.order__radio:hover input[type="radio"] + label::before {
  border: 2px solid #6fd5c0;
}

.order__radio:active input[type="radio"] + label::before {
  border: 2px solid #c7c7c7;
}

.order__radio input[type="radio"]:checked + label::before {
  background-color: $color-sub;
  box-shadow: inset 0 0 0 11px #ffffff;
}

// Голубые полосочки у мобильной версии

@media (max-width: 767px) {

.order__form .order__heading {
    overflow: hidden;
}

.order__form .order__heading::after {
  content: "";
  margin-right: -100%;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  background-color: $color-sub;
  border-left: solid #ffffff;
  border-left-width: 25px;
}

.order__form .order__list:nth-of-type(1) .order__radio {
  padding-left: 60px;
}
}

// Стилизация чекбокса

.order__form:nth-of-type(2) .order__list {
  position: relative;
}

.order__form:nth-of-type(2) .order__list {
  padding-left: 60px;
}

.order__checkbox {
  padding-top: 22px;
  padding-bottom: 22px;
}

.order__checkbox:hover input[type="checkbox"] + label::before {
  border: 2px solid #6fd5c0;
}

.order__checkbox:active input[type="checkbox"] + label::before {
  border: 2px solid #c7c7c7;
}

@media (max-width: 767px) {


  @for $i from 0 through 5 {
    .order__checkbox:nth-of-type(#{$i+1}) input[type="checkbox"] + label::before {
      top: 11+61px*$i;
    }
  }
}

.order__checkbox input[type="checkbox"] {
  display: none;
}

.order__checkbox input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid #444444;
}

.order__checkbox input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

// Стилизация текстового окна и поля

.order__form:nth-of-type(3) .order__heading {
  margin-top: 21px;
  margin-bottom: 27px;
}

.order__form:nth-of-type(4) .order__heading {
  margin-top: 31px;
  margin-bottom: 9px;
}

.order__form:nth-of-type(5) .order__heading {
  margin-top: 31px;
  margin-bottom: 26px;
}


.order__input--text label {
  font-weight: bold;
}

.order__input input {
  width: 100%;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
}

.order__input:hover input {
  border-bottom: 2px solid #62d1ba;
}

.order__input:focus  input {
  outline: none;
  border-bottom: 2px solid #62d1ba;
}

.order__input--text {
  margin-bottom: 19px;
}

.order__input textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;

  padding-top: 17px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  margin-bottom: 17px;

  outline: none;
  border: 1px solid #000000;
}

.order__input:hover textarea {
  border: 1px solid #62d1ba;
}

.order__input:focus  textarea {
  border: 1px solid #62d1ba;
}

textarea::-webkit-input-placeholder {
  // padding: 10px;
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

textarea:-ms-input-placeholder {
  // padding: 10px;
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

textarea::-moz-placeholder {
  // padding: 10px;
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $color-normal;
  opacity: 0.3;
}

.order__form:nth-of-type(4) .order__list:first-of-type {
  position: relative;
}

.order__form:nth-of-type(4) .order__list:first-of-type::after {
  content: "";
  width: 30px;
  height: 25px;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 6px;
  opacity: 0.2;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 25px;
}

.order__form:nth-of-type(4) .order__list:last-of-type {
  position: relative;
}

.order__form:nth-of-type(4) .order__list:last-of-type::after {
  content: "";
  width: 32px;
  height: 30px;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 6px;
  opacity: 0.2;

  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 30px;
}

@media (min-width: 768px) {

  .order::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25px;

    top: 300px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 25px;
    background-position: 0px 0px;
  }

  .order__sub-menu {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ececec;
  }

  .order__title {
    padding-top: 35px;
    padding-bottom: 81px;
    font-size: 43px;
    line-height: 50px;
  }

  .order__wrapper {
    padding: 0;
  }

  .order__info {
    margin: 0;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .order__radio  {
    // width: 320px;
    padding-left: 90px;
    padding-top: 28px;
    padding-bottom: 28px;
  }


  .order__radio:nth-of-type(2) input[type="radio"] + label::before {
      bottom: 8px;
      left: 9px;
  }

  .order__radio:nth-of-type(1) input[type="radio"] + label::before {
      bottom: 85px;
      left: 9px;
  }


  .order__heading {
    padding-right: 110px;
    margin-top: 0;
  }

  .order__form:nth-of-type(1) {
    padding-bottom: 40px;
  }

  .order__form:nth-of-type(1) .order__heading {
    padding-right: 120px;

  }

  .order__form:nth-of-type(2) .order__heading {
    padding-right: 120px;
    margin-top: 18px;
  }

  .order__form:first-of-type .order__heading{
    padding-top: 26px;
  }

  .order__form .order__heading::after {
    display: none;
  }

  .order__radio label br {
      content: "";
  }

  .order__radio label br::after {
      content: "\00a0";
  }

  .order__form:nth-of-type(2) .order__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 82px;
  }

  .order__form:nth-of-type(2) {
    padding-bottom: 25px;
    background-color: #f1f1f1;
  }

  .order__radio input[type="radio"] + label::before {
    width: 50px;
    height: 50px;
  }

  .order__radio input[type="radio"]:checked + label::before {
    box-shadow: inset 0 0 0 14px #ffffff;
  }

  .order__form label {
    font-size: 19px;
    line-height: 18px;
  }

  .order__form:nth-of-type(3) {
    padding-bottom: 23px;
  }

  .order__form:nth-of-type(4) .order__heading {
    margin-bottom: 0;
    margin-top: 0;
  }

  .order__form:nth-of-type(4) .order__list .order__heading {
    padding-top: 17px;
  }

  .order__form:nth-of-type(5) .order__heading {
    // padding-top: 17px;
    margin-top: 17px;
  }

  .order__form:nth-of-type(4) {
    padding-bottom: 22px;
  }

  .order__form:nth-of-type(5) {
    padding-bottom: 41px;
  }

  .order__checkbox input[type="checkbox"] + label::before {
    width: 50px;
    height: 50px;
  }

  .order__checkbox input[type="checkbox"] + label {
    font-size: 19px;
    line-height: 18px;
  }

  .order__checkbox input[type="checkbox"]:checked + label::before {
    background-size: 35px 35px;
  }

  .order__checkbox {
    width: 160px;
    padding-top: 15px;
    padding-bottom: 43px;
  }

  .order__form:nth-of-type(3) .order__list {
    width: 100%;
    box-sizing: border-box;

    padding-left: 14px;
  }

  .order__input--text {
    display: flex;
    width: 100%;
  }

  .order__input--text label {
    padding-top: 12px;
    padding-right: 23px;

  }

  .order__input--text {
    margin-bottom: 26px;
  }

  .order__form:nth-last-of-type(3) {
    flex-direction: column;
    background-color: #f1f1f1;
  }

  .order__form:nth-last-of-type(3) .order__list:nth-of-type(2) .order__heading {
    padding-right: 48px;

  }

  .order__form:nth-last-of-type(3) .order__list {
    display: flex;
    flex-direction: row;

    width: 100%;
    box-sizing: border-box;

  }

  .order__input--tel {
    width: 100%;

  }

  .order__input--email {
    width: 100%;
  }

  .order__form:nth-last-of-type(3) .order__heading {
    // width: 170px;
    margin-right: 0;
  }

  .order__form:nth-last-of-type(3) input::-webkit-input-placeholder {
    background-color: #f1f1f1;
    opacity: 1;
    color: #c7c7c7;
  }

  .order__form:nth-last-of-type(3) input:-ms-input-placeholder {
    background-color: #f1f1f1;
    opacity: 1;
    color: #c7c7c7;
  }

  .order__form:nth-last-of-type(3) input::-moz-placeholder {
    background-color: #f1f1f1;
    opacity: 1;
    color: #c7c7c7;
  }

  .order__input--tel input {
    background-color: #f1f1f1;
  }

  .order__input--email input {
    background-color: #f1f1f1;
  }


  // .order__form:nth-last-of-type(3) .order__list:first-of-type {
  //   margin-bottom: 16px;
  // }


  .order__form:nth-last-of-type(2) .order__list {
    width: 100%;
  }

  .order__form .order__input--textarea {
    width: 100%;
  }

  .order__form textarea {
    width: 100%;
  }

  textarea::-webkit-input-placeholder {
    font-size: 19px;
  }

  textarea:-ms-input-placeholder {
    font-size: 19px;
  }

  textarea::-moz-placeholder {
    font-size: 19px;
  }

  input::-webkit-input-placeholder {
    font-size: 19px;
  }

  input:-ms-input-placeholder {
    font-size: 19px;
  }

  input::-moz-placeholder {
    font-size: 19px;
  }

  .order__form:nth-last-of-type(2) .order__heading {
    padding-right: 78px;
  }

  .required {
    font-size: 17px;
    line-height: 30px;
  }

  .order__action {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: baseline;
  }

  .order__btn {
    width: 230px;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .order__checkbox:nth-of-type(1) input[type="checkbox"] + label::before {
    left: 2px;
    top: 0px;
  }
  .order__checkbox:nth-of-type(2) input[type="checkbox"] + label::before {
    top: 0px;
    left: 265px;

  }
  .order__checkbox:nth-of-type(3) input[type="checkbox"] + label::before {
    left: 2px;
    top: 74px;
  }
  .order__checkbox:nth-of-type(4) input[type="checkbox"] + label::before {
    top: 74px;
    left: 265px;
  }
  .order__checkbox:nth-of-type(5) input[type="checkbox"] + label::before {
    left: 2px;
    top: 150px;
  }
  .order__checkbox:nth-of-type(6) input[type="checkbox"] + label::before {
    top: 150px;
    left: 265px;
  }


  .order__form:nth-of-type(4) .order__list:first-of-type::after {
    bottom: 45px;
    right: 26px;
  }

  .order__form:nth-of-type(4) .order__list:last-of-type::after {
    bottom: 45px;
    right: 26px;
  }
}

@media (min-width: 1150px) {

  .order::after {
    height: 34px;
    top: 325px;
    background-size: 1150px 34px;
  }

  .order__title {
    padding-top: 35px;
    padding-bottom: 98px;
    font-size: 53px;
    line-height: 57px;
  }

  .order__info {
    padding-top: 125px;
    padding-right: 230px;
    padding-left: 225px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    padding-right: 110px;
    padding-left: 110px;
  }

  .order__heading {
    margin-right: 0;
    padding-right: 90px;
  }

  .order__form:nth-of-type(1) .order__heading {
    padding-right: 90px;
  }

  .order__form:nth-of-type(2) .order__heading {
    padding-right: 90px;
  }

  .order__form:nth-of-type(2) .order__list {
    padding-left: 60px;
  }

  .order__checkbox {
    width: 200px;
  }

  .order__checkbox:nth-of-type(1) input[type="checkbox"] + label::before {
    left: -19px;
    top: -5px;
  }
  .order__checkbox:nth-of-type(2) input[type="checkbox"] + label::before {
    top: -4px;
    left: 243px;

  }
  .order__checkbox:nth-of-type(3) input[type="checkbox"] + label::before {
    top: -4px;
    left: 507px;
  }

  .order__checkbox:nth-of-type(4) input[type="checkbox"] + label::before {
    top: 72px;
    left: -19px;
  }
  .order__checkbox:nth-of-type(5) input[type="checkbox"] + label::before {
    top: 72px;
    left: 243px;
  }
  .order__checkbox:nth-of-type(6) input[type="checkbox"] + label::before {
    top: 72px;
    left: 507px;
  }

  .order__form:nth-of-type(3) .order__heading {
    padding-top: 0px;
    padding-right: 60px;
  }



  .order__form:nth-of-type(4) .order__heading {
    padding-top: 17px;
    padding-right: 80px;
  }

  // .order__form:nth-of-type(4) .order__heading:nth-of-type(1) {
  //   padding-right: 110px;
  // }

  .order__btn {
    margin-left: 175px;
  }

  .order__action {
    margin-right: 115px;
  }

  .order__form:nth-of-type(4) .order__list:first-of-type::after {
    bottom: 45px;
    right: 6px;
  }

  .order__form:nth-of-type(4) .order__list:last-of-type::after {
    bottom: 45px;
    right: 6px;
  }

  .order__form:nth-of-type(5) {
    padding-bottom: 30px;
  }
}
