.promo__title {
  margin: 0;
  padding-top: 65px;
  padding-bottom: 115px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  white-space: pre-line;
  color: #000000;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 0 cover;
  background-position: top;
}

.promo__catalog {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-bottom: 190px;
}

.promo__catalog-item {
  position: absolute;
  width: 100%;


}

.promo__catalog-item:first-of-type {

  bottom: 95px;
  background-color: #63d1bb;
}

.promo__catalog-item:last-of-type {
  background-color: #56c3b2;

  bottom: 0px;
}

.promo__catalog-item a {
  display: block;
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  padding-left: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    padding-bottom: 28.5px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {

  .promo__wrapper {
    padding-right: 50px;
    padding-left: 50px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .promo__title {
    padding-top: 100px;
    padding-right: 70px;
    padding-bottom: 385px;
    padding-left: 70px;

    font-size: 43px;
    line-height: 50px;
    text-align: center;
    white-space: normal;
    color: $color-heading;

    background-image: none;
    background-color: inherit;
  }

  .promo__catalog {
    padding-bottom: 230px;
  }


  .promo__catalog-item a {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      padding-bottom: 35px;
    }
  }

  .promo__catalog-item:first-of-type {
    bottom: 115px;
  }

  .promo__catalog-item:last-of-type {
    bottom: 0px;
  }





}

@media (min-width: 1150px) {

  .promo__title {
    padding-top: 100px;
    padding-right: 160px;
    padding-bottom: 400px;
    padding-left: 160px;

    font-size: 53px;
    line-height: 57px;
  }
}
