.review {
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.review__title {
  margin-top: 20px;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-heading;
}

.review__item {
  font-size: 15px;
  line-height: 30px;
  color: $color-normal;
}

.review__item p {
  margin-bottom: 28px;
}

.review__author-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-heading;
}

.review__author-mail {
  font-size: 17px;
  line-height: 30px;
  color: $color-normal;
}

.review__btn {
  display: flex;
}

.review__btn button {
  font-size: 0;
  border: 1px solid #ececec;
}

.review__btn button:first-of-type {
  border-right: 0.5px solid #ececec;
}

.review__btn button:last-of-type {
  border-left: 0.5px solid #ececec;
}

.review__btn--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52px 26px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.review__btn--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52px 26px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.review__write {
  margin-top: 42px;
}

@media (min-width: 768px) {

  .review {
    padding-top: 76px;
    padding-right: 50px;
    padding-bottom: 110px;
    padding-left: 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 350px 457px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

    .review {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  .review__wrapper {
    position: relative;
  }

  .review__title {
    margin-top: 0px;
    padding-bottom: 25px;

    font-size: 43px;
    line-height: 50px;
  }

  .review__btn {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 170px;
  }

  .review__write {
    position: absolute;
    top: 0px;
    right: 0;
    width: 170px;
    margin: 0;
  }

  .review__item p {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .review__item {
    display: flex;
    flex-direction: column;
  }

  .review__author-name {
    margin-top: 25px;
    font-size: 18px;
    line-height: 24px;
  }

  .review__btn button {
    border: none;
  }

  .review__btn button:last-of-type {
    border: none;
  }

  .review__btn button:first-of-type {
    border: none;
  }
}

@media (min-width: 1150px) {

  .review {
    padding-top: 73px;
    padding-right: 50px;
    padding-bottom: 165px;
    padding-left: 225px;

    background-position: 50px 0;
  }

  .review__title {
    margin-bottom: 24px;
    font-size: 53px;
    line-height: 57px;
  }

  .review__item p {
    width: 770px;
    padding-bottom: 7px;
  }

  .review__author-name {
    margin: 0;
    font-size: 17px;
  }

  .review__btn {
    bottom: 7px;
  }

  .review__write {
    top: 7px;
  }
}
