body {
  font-family: "Open sans", "Tahoma", sans-serif;
  font-style: normal;
  background-color: $bg-color;
}

@media (max-width: 767px) {

  body {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {

  body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {

  body {
    width: 1150px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {

  video[poster] {
    width: 100%;
  }
}
