.video-presentation {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
}

.video-presentation__basket {
  width: 0;
  height: 0;
}

.video-presentation__wrapper {
  position: relative;

  padding-bottom: 30px;
  border: 1px solid #ececec;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-presentation__wrapper::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;

  width: 32px;
  height: 32px;

  background-image: url("../img/icon-video.svg");
}

.video-presentation__title {
  margin-top: 25px;
  padding-left: 90px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-heading;
}

.video-presentation__poster {
  width: 100%;
}

.video-presentation__design {
  position: relative;
  cursor: pointer;

  &:hover svg {
    transform: scale(1.2);
  }

  &:active svg {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.video-presentation__design svg {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.video-presentation__info {
  padding-right: 33px;
  padding-left: 33px;
}

.video-presentation__text {
  margin-top: 30px;
  font-size: 13px;
  line-height: 24px;
  color: $color-normal;
}

.video-presentation__btn {
  width: auto;
}

@media (min-width: 768px) {

  .video-presentation {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 63px;
    padding-left: 50px;
  }

  .video-presentation__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
  }

  .video-presentation__wrapper::before {
    top: 515px;
    left: 40px;
  }

  .video-presentation__title {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 100px;
    order: 2;

    font-size: 20px;
    line-height: 24px;
  }

  .video-presentation__wrapper video {
    order: 1;
  }

  .video-presentation__info {
    padding-right: 41px;
    padding-left: 41px;
    order: 3;
  }

  .video-presentation__text {
    margin-top: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .video-presentation__design svg {
    bottom: 190px;
    left: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {

  .video-presentation__title br {
    content: "";
  }

  .video-presentation__title br::after {
      content: "\00a0";
  }
}


@media (min-width: 1150px) {

  .video-presentation {
    padding-bottom: 110px;
  }

  .video-presentation__wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      height: 455px;
      padding-bottom: 0;
  }

  .video-presentation__wrapper::before {
    top: 40px;
    left: 760px;
  }

  .video-presentation__title {
    margin: 0;
    margin-left: auto;
    padding-top: 100px;
    padding-right: 140px;
    padding-bottom: 40px;
    padding-left: 70px;
  }

  .video-presentation__info {
    width: 230px;
    margin-left: auto;
    padding-right: 57px;
    padding-left: 70px;
  }

  .video-presentation__text {
    padding-bottom: 30px;
  }

  .video-presentation__design img {
    width: 682px;
    height: 455px;
  }
}
